/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #E01A76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.loader-wrapper {
    position: fixed;
    width: 100vw;
    height: 100vh;
    color: black;
    opacity: 30%;
    display: flex;
    justify-content: center;
    align-items:  center;
}

